.art {
  width: 75% !important;
  margin-top: 10% !important;
}
.cardStyle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(32, 155, 201);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.navbarStyle {
  display: flex;
  max-width: 95%;
  margin-left: 5%;
  margin-top: 10px;
  height: auto;
}
.logoStyle {
  width: 40%;
}
.buttonContainerStyle {
  display: flex;
  flex-direction: row;
}

.blurredCardStyle {
  width: 90%;
  max-width: 750px;
  display: flex;
  margin: 125px auto;
  flex-direction: row;
  border-radius: 36px;
  background: linear-gradient(
      35deg,
      rgb(171, 220, 247) 0%,
      rgba(32, 155, 201, 0.74) 50%
    ),
    linear-gradient(145deg, rgb(171, 220, 247) 50%, rgba(32, 176, 201, 0.74) 0%);
  box-shadow: -5px 5px 8px #1391c7, 5px -5px 8px #025a80;
}
.inputStyle {
  background: linear-gradient(225deg, #eeeefa, #ffffff) !important;
  box-shadow: inset 2px 3px 8px rgb(181, 181, 181) !important;
  padding: 8px 10px !important;
  border-radius: 5px !important;
  border: 0px !important;
  color: rgb(0, 0, 0) !important;
}
.showpass {
  display: flex;
  align-items: center;
  position: relative;
  background: none;
  border: none;
  color: #3131314e;
}
.eyeicon {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .art {
    display: none;
  }
  .blurredCardStyle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20% !important;
  }
  .inputStyle {
    width: 130% !important;
    margin-left: -15%;
  }
  .formLabel {
    margin-left: -15%;
  }
  .buttonStyle {
    font-size: 85% !important;
  }
  .navbar-brand {
    margin-right: 0;
  }
}
