.custom-container {
  padding: 0 10px;
}

.custom-content {
  width: 20%;
}

.catheader {
  text-align: center;
  margin-bottom: 20px;
}

.catcenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.custom-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #03a6d8; /* Choose your preferred background color */
  color: #ffffff; /* Choose your preferred text color */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.custom-btn:hover {
  background-color: #0185ad; /* Adjust hover background color */
}

@media screen and (max-width: 768px) {
  .custom-content {
    width: 40%;
  }
}
