.custom-container {
  padding: 0 10px;
}

.custom-content {
  width: 20%;
}

.catheader {
  text-align: center;
  margin-bottom: 20px;
}

.catcenter {
  display: flex;
  justify-content: center;
}

.custom-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #03a6d8; /* Choose your preferred background color */
  color: #ffffff; /* Choose your preferred text color */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.custom-btn:hover {
  background-color: #0185ad; /* Adjust hover background color */
}

@media (max-width: 800px) {
  .custom-content {
    width: 40%;
  }
  .task-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .task-card {
    width: 270px;
  }
}

.task-cards-container {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  padding-bottom: 30px;
}
.task-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-top: 2rem;
}

.task-card {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  height: fit-content;
  background: #fff;
  box-shadow: 5px 5px 12px #d3d3d3, -5px -5px 12px #f2f2f2;
  overflow: auto;
  height: 175px;
  /* Customize the scrollbar for Webkit browsers (Chrome, Safari) */
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 #f4f4f4;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }

  /* For Firefox */
  & {
    scrollbar-width: thin;
    scrollbar-color: #e5e5e5 #f4f4f4;
  }

  /* For Internet Explorer and Edge */
  & {
    -ms-overflow-style: none;
  }

  &::-ms-scrollbar-thumb {
    background-color: #e5e5e5;
  }

  &::-ms-scrollbar-track {
    background-color: #f4f4f4;
  }
}

.task-card h3 {
  margin-bottom: 15px;
}

.task-card p {
  margin: 0;
}

.button-container {
  padding-top: 10px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  background-color: #3498db;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
}

.button-container button:hover {
  background-color: #5eaee3;
}

.no-data-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nodata {
  max-width: 30%;
  height: auto;
}

.no-data-text {
  margin-top: 16px;
  font-size: 18px;
  color: #555; /* Adjust the color as needed */
  text-align: center;
}
