.procontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.procontent {
  width: 70%;
  padding: 20px;
  box-shadow: 5px 5px 12px #d3d3d3, -5px -5px 12px #f2f2f2;
}

.text-center {
  text-align: center;
}

.circle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  color: #049fcf;
  height: 60px;
  width: 60px;
}

.proform {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.progroup {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro {
  padding: 0.15rem 0.75rem;
  font-size: 1.1rem;
  color: #438fb5;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.pro:hover {
  overflow: visible;
}

.progroup {
  margin-bottom: 1rem;
}

.pro-btn:hover {
  background-color: #0185ad;
}

@media (max-width: 800px) {
  .procontainer {
    padding-top: 1rem;
  }
  .procontent {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .procontent {
    width: 90%;
  }
}
